/* general */

body {
    font-family: "Montserrat", sans-serif;
}

:root {
    --color1: #193489;
    --color2: #113CFC;
}

h1, h2, h3 {
    font-weight: 700;
}

/* header */

header {
    background-color: var(--color1);
    background-image: linear-gradient(to right, var(--color2), var(--color1));
    color: white;
}

/*search element */

#search-form label {
    font-size: 1.8rem;
    font-weight: 700;
}

/* display area */

#display-area {
    font-size: 1.8rem;
    line-height: 3.5rem;
}

.city-option-card {
    background-color: lightgray;
}

.city-option-card:hover {
    cursor:pointer;
}

/* current weather area */

.uv-index {
    color: white;
}

/* forecast area */

.forecast-card {
    background-color: var(--color1);
    color: white;
    line-height: 2rem;
    font-size: 1.2rem;
}

.forecast-card h3{
    font-size: 1.3rem;
}